@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CloudNotes</h1>
    <h3>Log in to start</h3>
    <div><a class="btn btn-info btn-lg" href="/Account/Login">Login</a></div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-4">
        <h2>Course Outline</h2>
        <ul>
            <li><a href="#">Getting Started with Amazon SNS</a></li>
            <li><a href="#">Publishing Messages to SNS</a></li>
            <li><a href="#">Automating Processes with SNS</a></li>
            <li><a href="#">Sending Mobile Notifications with SNS </a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Course Resources</h2>
        <ul>
            <li><a href="#">Course Transcript</a></li>
            <li><a href="#">Exercise files</a></li>
            <li><a href="#">Discussion</a></li>
            <li><a href="#">Learning Checks</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Other Resources</h2>
        <ul>
            <li><a href="https://aws.amazon.com/sns/">Amazon SNS product page</a></li>
            <li><a href="https://docs.aws.amazon.com/sns/latest/dg/welcome.html">Amazon SNS developer guide</a></li>
            <li><a href="https://docs.aws.amazon.com/sns/latest/api/Welcome.html">Amazon SNS API reference</a></li>
        </ul>
    </div>
</div>
